xsd/lvl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ExchangeRates" type="ExchangeRatesType"/>
  <xs:complexType name="itemType">
    <xs:sequence>
      <xs:element type="xs:string" name="date"/>
      <xs:element type="xs:string" name="currency"/>
      <xs:element name="quantity">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="10"/>
            <xs:enumeration value="100"/>
            <xs:enumeration value="1000"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="10000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="rate"/>
      <xs:element name="unit">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="LTL per 10 currency units"/>
            <xs:enumeration value="LTL per 100 currency units"/>
            <xs:enumeration value="LTL per 1000 currency units"/>
            <xs:enumeration value="LTL per 1 currency unit"/>
            <xs:enumeration value="LTL per 10000 currency units"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExchangeRatesType">
    <xs:sequence>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>